node_modules
package-lock.json
lerna.json
ios/
android/
dist/
patches/

CHANGELOG.md

**/lcov-report/*
coverage-final.json

vendor/

**/google-services/*

.terraform/
packages.lock.json

/.nx/workspace-data

packages/database-schema/generated/

**/.next
next-env.d.ts
